.login {
  min-height: 100vh;
  background-image: linear-gradient(to right, var(--primary-color), #3d8880);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 26px 50px;
  transform: translate(-50%, -50%);
  background-color: #273729;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  color: var(--primary-color);
  text-align: center;
  margin: 0 0 40px;
  padding: 0;
}
