@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import 'react-toastify/dist/ReactToastify.css';

:root {
  --primary-color: #4daf54;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100vh;
}

body {
  background-image: linear-gradient(to right, var(--primary-color), #3d8880);
}

.register-box, .login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 26px 50px;
  transform: translate(-50%, -50%);
  background-color: #273729;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.register-box h2, .login-box h2 {
  color: var(--primary-color);
  text-align: center;
  margin: 0 0 40px;
  padding: 0;
}

.user-box {
  position: relative;
  margin-bottom: 22px;
}

.register-box .user-box:nth-last-child(2), .login-box .user-box:nth-last-child(2) {
  margin-bottom: 0;
}

.user-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  color: var(--primary-color);
  padding-bottom: 6px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--primary-color);
}

.user-box label {
  position: absolute;
  top: -26px;
  left: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  pointer-events: none;
  transition: 0.5s;
}

.user-box span {
  position: absolute;
  bottom: 66%;
  right: 12px;
  color: var(--primary-color);
  font-size: 14px;
  transition: all linear 0.2s;
}

.user-box p {
  position: absolute;
  bottom: 18px;
  left: 0;
  color: indianred;
  font-size: 12px;
}

.user-box span:hover {
  cursor: pointer;
  opacity: 0.8;
}

.button {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 6px 16px;
  border-radius: 10px;
  transition: all linear 0.2s;
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}
