@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import 'react-toastify/dist/ReactToastify.css';

:root {
  --primary-color: #4daf54;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.register, .login {
  min-height: 100vh;
  background-image: linear-gradient(to right, var(--primary-color), #3d8880);
}

.register-box, .login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 26px 50px;
  transform: translate(-50%, -50%);
  background-color: #273729;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.register-box h2, .login-box h2 {
  color: var(--primary-color);
  text-align: center;
  margin: 0 0 40px;
  padding: 0;
}